=form_for(@recipe, url: url) do |recipe|
  .title
    =recipe.submit
    =recipe.text_field :name, placeholder: 'Recipe Name'
  .body
    .ingredients_pane
      %table
        .col_header
          Ingredients
          =link_to image_tag('add_button.png', class: 'add_recipe_element', onclick: 'javascript:addIngredient(); return false;')
        %tbody{id: 'ingredients_list'}
          =recipe.fields_for :recipe_ingredients do |recipe_ingredient|
            %tr
              %td
                =recipe_ingredient.hidden_field :id
                =recipe_ingredient.fields_for :ingredient do |ingredient|
                  =ingredient.text_field :name
                =recipe_ingredient.text_field :measurement
                =link_to image_tag('remove-button.png', class: 'remove_recipe_element'), '', onclick: "removeExistingIngredient(this, #{recipe_ingredient.object.id}); return false;"
    .directions_pane
      %table
        .col_header
          Directions
          =link_to image_tag('add_button.png', class: 'add_recipe_element', onclick: 'javascript:addDirection(); return false;')
        %tbody{id: 'directions_list'}
          -@recipe.directions.each do |direction|
            %tr
              %td
                =recipe.text_field :directions, multiple: true, value: direction
                =link_to image_tag('remove-button.png', class: 'remove_recipe_element'), '', onclick: 'removeExistingDirection(this); return false;'
