.card.recipe_card
  =form_for(@new_recipe) do |recipe|
    =recipe.text_field :name, placeholder: 'Recipe Name', class: 'title'
    .ingredients_pane
      %table
        .col_header
          Ingredients
          %tb
            =recipe.fields_for :recipe_ingredients do |recipe_ingredient|
              %tr
              =recipe_ingredient.text_field :measurement,  placeholder: 'Ingredient'


    / .directions_pane
    /   .col_header Directions

