.card.recipe_card
  = form_for(@recipe, url: '#', method: :put) do |recipe|
    .title
      =link_to image_tag('Back-Button.png'), "/recipe/#{@recipe.id}", {method: :get, class: 'circular_nav_button'}
      =link_to image_tag('save-button.png'), '', {class: 'square_nav_button', onclick: "document.getElementById('edit_recipe_#{@recipe.id}').submit()"}
      =recipe.text_field :name
    .body
      .ingredients_pane
        %table
          .col_header Ingredients
          -@recipe.recipe_ingredients.each do |ingredient|
            %tr
              =recipe.fields_for :recipe_ingredients do |ingredient_field|
                %td=ingredient_field.text_field :ingredient, value: ingredient.ingredient.name
                %td=ingredient_field.text_field :measurement, value: ingredient.measurement
      .directions_pane
        %table
          .col_header Directions
          %ul
            -@recipe.directions.each do |direction|
              %li=recipe.text_field :directions, multiple: true, value: direction


