.card.recipe_card
  = form_for(@recipe, url: recipes_path) do |recipe|
    .title
      =link_to image_tag('Back-Button.png'), "/recipe/#{@recipe.id}", {method: :get, class: 'circular_nav_button'}
      =link_to image_tag('save-button.png'), "/recipe/#{@recipe.id}", {method: :put, class: 'square_nav_button'}
      =recipe.text_field :name
    .body
      .ingredients_pane
        %table
          .col_header Ingredients
          -@recipe.recipe_ingredients.each do |ingredient|
            %tr
              =recipe.fields_for :recipe_igredients do |ingredient_field|
                %td=ingredient_field.text_field :ingredient, value: ingredient.ingredient.name
                %td=ingredient_field.text_field :measurement, value: ingredient.measurement
      .directions_pane
        %table
          .col_header Directions
          %ul
            -@recipe.directions.each do |direction|
              %li=recipe.text_field :directions, value: direction


