.card.recipe_card
  = form_for(@recipe, url: recipe_path) do |recipe|
    .title
      =link_to image_tag('Back-Button.png'), recipe_path, {method: :get, class: 'circular_nav_button'}
      =link_to image_tag('save-button.png'), '', {class: 'square_nav_button', onclick: "document.getElementById('edit_recipe_#{@recipe.id}').submit()"}
      =recipe.text_field :name
    .body
      .ingredients_pane
        %table
          .col_header
            Ingredients
            / # =link_to image_tag('add_button.png', class: 'add_recipe_element', onclick: 'javascript:addIngredient(); return false;')
          %tbody{id: 'ingredients_list'}
            =recipe.fields_for :recipe_ingredients do |recipe_ingredient|
              %tr
                =recipe_ingredient.fields_for :ingredient do |ingredient|
                  %td=ingredient.text_field :name
                %td=recipe_ingredient.text_field :measurement
      .directions_pane
        %table
          .col_header
            Directions
            =link_to image_tag('add_button.png', class: 'add_recipe_element', onclick: 'javascript:addDirection(); return false;')
          %tbody{id: 'directions_list'}
            / # %tr=recipe.text_field :directions, multiple: true, value: nil, hidden: true
            -@recipe.directions.each do |direction|
              %tr
                %td
                  =recipe.text_field :directions, multiple: true, value: direction
                  =link_to image_tag('remove-button.png', class: 'remove_recipe_element'), '', onclick: "document.getElementById('directions_list').removeChild(this.parentElement.parentElement); return false;"
