.card.list_card
  .title
    Recipes
    =link_to image_tag('add_button.png', class: 'add_recipe'), '/recipes/new'
  .recipe_list
    -@recipes.each do |recipe|
      .recipe_name
        =link_to(recipe.name, recipe_path(recipe.id))
        =link_to image_tag('delete-button.png'), recipe_path(recipe.id), {method: :delete, class: 'delete_button', data: {confirm: "Are you sure you want to delete #{recipe.name}?"}}
    .list_buffer
