.card.recipe_list
  .title='Recipe List'
  .body
    %table
      -@recipes.each do |recipe|
        %tr
          %td.recipe_name
            =link_to(recipe.name,"/recipe/#{recipe.id}")
            =link_to('[delete]', "/recipe/#{recipe.id}", {method: :delete, class: 'delete_button'})
