.card.recipe_card
  =form_for(@new_recipe) do |recipe|
    =recipe.text_field :name, placeholder: 'Recipe Name', class: 'title'
    .ingredients_pane
      %table
        .col_header
          Ingredients
        %tb
          =render 'new_ingredient', recipe: recipe
    .directions_pane
      .col_header Directions
      =recipe.text_area :directions, placeholder: 'Directions'
    =recipe.submit
