=javascript_include_tag 'add_ingredient'
=javascript_include_tag 'add_direction'
.card.recipe_card
  =form_for(@new_recipe) do |recipe|
    .title
      =link_to image_tag('Back-Button.png'), recipes_path, {method: :get, class: 'circular_nav_button'}
      =link_to image_tag('save-button.png'), '', class: 'square_nav_button', onclick: "document.getElementById('new_recipe').submit()"
      =recipe.text_field :name, placeholder: 'Recipe Name', class: 'new_recipe_name', autocomplete: 'off'
    .body
      .ingredients_pane
        %table
          .col_header
            Ingredients
            =link_to image_tag('add_button.png', class: 'add_recipe_element', onclick: 'javascript:addIngredient(); return false;')
          %tb{id: 'ingredients_list'}
      .directions_pane
        %table
          .col_header
            Directions
            =link_to image_tag('add_button.png', class: 'add_recipe_element', onclick: 'javascript:addDirection(); return false;')
          %tb{id: 'directions_list'}
