=javascript_include_tag 'add_ingredient'
=javascript_include_tag 'remove_ingredient'
.card.recipe_card
  =form_for(@new_recipe) do |recipe|
    =recipe.text_field :name, placeholder: 'Recipe Name', class: 'title'
    .ingredients_pane
      %table
        .col_header
          Ingredients
          =link_to image_tag('add_button.png', class: 'add_button', onclick: 'javascript:addIngredient(); return false;')
        %tb{id: 'ingredients_list'}
    .directions_pane
      .col_header Directions
      =recipe.text_area :directions, placeholder: 'Directions'
    =recipe.submit
