.card.recipe_card
  .title
    =link_to image_tag("Back-Button.png"), "/recipes", {method: :get, class: 'back_button'}
    =@recipe.name
    =link_to image_tag("delete-button.png"), "/recipe/#{@recipe.id}", {method: :delete, class: 'delete_button'}
  .body
    .ingredients_pane
      %table
        .col_header
          Ingredients
        %tb
        -@recipe.recipe_ingredients.each do |recipe_ingredient|
          %tr
            %td=recipe_ingredient.ingredient.name
            %td=recipe_ingredient.measurement
    .directions_pane
      .col_header Directions
      %ul
      -@recipe.directions.each do |direction|
        %li=direction
