.card.recipe_card
  .title
    =@recipe.name
    =link_to('[delete]', "/recipe/#{@recipe.id}", {method: :delete, class: 'delete_button'})
  .body
    .ingredients_pane
      %table
        %th.col_header
          Ingredients
        %tb
        -@recipe.recipe_ingredients.each do |recipe_ingredient|
          %tr
            %td=recipe_ingredient.ingredient.name
            %td=recipe_ingredient.measurement
    .directions_pane
      .col_header Directions
      =simple_format(@recipe.directions)
.recipe_list_button=link_to('<-- Back to List', "/recipes")