.card.recipe_card
  .title=@recipe.name
  .ingredients_pane
    .col_header.ingredients_header Ingredients
    %br
    -@recipe.recipe_ingredients.each do |recipe_ingredient|
      .ingredient_name=recipe_ingredient.ingredient.name
      .ingredient_measure=recipe_ingredient.measurement
      %br

  .directions_pane
    .col_header.directions_header Directions
    %br
    .directions=@recipe.directions
