.card
  .title=@recipe.name
  .ingredients
    .col_header Ingredients
    %br
    -@recipe_ingredients.each do |recipe_ingredient|
      %tr
        %td=Ingredient.find(recipe_ingredient.ingredient_id).name
        %td=recipe_ingredient.measurement

  .directions
    .col_header Directions
    %br
    =@recipe.directions
