.card.recipe_card
  .title
    =@recipe.name
    .interaction_menu
      =link_to 'Edit', edit_recipe_path(@recipe.id), class: 'edit_button'
      =link_to 'Delete', recipe_path(@recipe.id), {method: :delete, class: 'delete_button', data:{confirm: "Are you sure you want to delete #{@recipe.name}"}}
  .body
    .ingredients_pane
      %table
        .col_header
          Ingredients
        %tb
        -@recipe.recipe_ingredients.each do |recipe_ingredient|
          %tr
            %td=recipe_ingredient.ingredient.name
            %td=recipe_ingredient.measurement
    .directions_pane
      .col_header Directions
      %ul
      -@recipe.directions.each do |direction|
        %li=direction
