/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
  height: 100%;
}

body {
  background: dark-blue;
  background: url("Butcher-Block.jpg");
  height: 100%;
  overflow: hidden;
}

.card {
  background: #fffef2;
  position: relative;
}

.title {
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  border-bottom: thin solid black;
  margin-bottom: 10px;
}

.body {
  position: relative;
  height: 100%;
}

.col_header {
  font-size: 150%;
  font-style: italic;
  text-align: left;
  padding-bottom: 20px;
  font-weight: normal;
} 

.delete_button {
  font-size: 30%;
}

table th {
  padding-bottom: 5%;
}

a, a:visited {
  text-decoration: none;
}
