.save_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background-color:#77d42a;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #268a16;
  display:inline-block;
  color:#306108;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  height:67px;
  line-height:67px;
  width:98px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #aade7c;
  margin-right: 4px;
}.save_button:hover {
  background-color:#5cb811;
}.save_button:active {
  position:relative;
  top:1px;
}

.cancel_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  box-shadow:inset 0px 1px 0px 0px #cae3fc;
  background-color:#79bbff;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #469df5;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  height:65px;
  line-height:67px;
  width:98px;
  text-decoration:none;
  text-align:center;
}.cancel_button:hover {
  background-color:#4197ee;
  color: #f2f2f2;
}.cancel_button:active {
  position:relative;
  top:1px;
}

.edit_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
  box-shadow:inset 0px 1px 0px 0px #cae3fc;
  background-color:#0099cc;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #007399;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  height:65px;
  line-height:65px;
  width:98px;
  text-decoration:none;
  text-align:center;
  margin-right: 4px;
}.edit_button:hover {
  color: #f2f2f2;
  background-color:#00b8e6;
}.edit_button:active {
  position:relative;
  top:1px;
}

.delete_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background-color:#e60000;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #b30000;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  height:65px;
  line-height:65px;
  width:98px;
  text-decoration:none;
  text-align:center;
}.delete_button:hover {
  color: #f2f2f2;
  background-color: #ff3300;
}.delete_button:active {
  position:relative;
  top:1px;
}
