// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Styles for Recipe show */

.recipe_card {
  height: 80%;
  width: 90%;
  margin: 5%;
  margin-bottom: 0%;
  overflow: hidden;
  position: absolute;
}

.ingredients_pane {
  position: relative;
  height: 100%;
  width: 29%;
  float: left;
  display: inline;
  padding-left: 3%;
}

.directions_pane {
  position: relative;
  height: 100%;
  width: 60%;
  float: right;
  display: inline;
}

.recipe_list_button a {
  font-size: 300%;
  float: right;
  padding-right: 5%;
  font-weight: bold;
  color: #3d3d3d;
}

 .recipe_card .delete_button {
  float: right;
}


.recipe_card .delete_button img {
  width: 28%;
  height: auto;
  padding-top: 3%;
  padding-right: 2%;
  float: right;
}

.recipe_card .back_button {
  float: left;
}

.recipe_card .back_button img {
  width: 28%;
  height: auto;
  padding-top: 3%;
  padding-left: 2%;
  float: left;
}

/* Styles for Recipe List */

.recipe_list {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  position: absolute;
}

.recipe_list .delete_button {
  float: right;
}

.recipe_list .delete_button img {
  width: 20%;
  height: auto;
  padding-top: 1%;
  padding-right: 2%;
  float: right;
}

.recipe_name {
  font-weight: bold;
  font-color: dark-grey;
  font-size: 200%;
  padding-bottom: 2px;
  padding-top: 2px;
}

.recipe_name a {
  padding-left: 2%;
}

table {
  width: 100%;
}

.recipe_list tr:nth-child(even){
  background-color: #ede2cb;
}

/* Styles for Recipe Create */

.add_button {
  width: 5%;
  height: auto;
  padding-left: 10px;
}
