// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe_card {
  height: 80%;
  width: 90%;
  margin: 5%;
  margin-bottom: 0%;
  overflow: hidden;
  position: absolute;
}

.ingredients_pane {
  position: relative;
  height: 100%;
  width: 29%;
  float: left;
  display: inline;
  padding-left: 3%;
}

.directions_pane {
  position: relative;
  height: 100%;
  width: 60%;
  float: right;
  display: inline;
}

.recipe_list_button a {
  font-size: 300%;
  float: right;
  padding-right: 5%;
  font-weight: bold;
  color: #3d3d3d;
}

.square_nav_button img {
  width: 68px;
  height: auto;
  padding-top: 2px;
  padding-right: 2px;
  float: right;
}

.circular_nav_button img {
  width: 70px;
  height: auto;
  padding-top: 2px;
  padding-left: 2px;
  float: left;
}

.recipe_list {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  position: absolute;
  overflow: scroll;
}

.recipe_list .delete_button img {
  width: 45px;
  height: auto;
  float: right;
  padding-top: 3px;
}

.recipe_name {
  font-weight: bold;
  font-color: dark-grey;
  font-size: 200%;
  padding-bottom: 2px;
  padding-top: 2px;
}

.recipe_name a {
  padding-left: 2%;
}

table {
  width: 100%;
}

.recipe_list tr:nth-child(even){
  background-color: #ede2cb;
}

.add_recipe {
  width: 45px;
  height: auto;
  padding-left: 10px;
}

.add_recipe_element {
  width: 25px;
  height: auto;
  padding-left: 10px;
}

.remove_recipe_element {
  width: 18px;
  height: auto;
  padding-left: 5px;
}

/*.new_recipe_name {
  width: 100%;
}

.new_recipe_name input {
  display: none;
}
*/
