// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}

body {
  background: dark-blue;
  background: url("Butcher-Block.jpg");
  height: 100%;
  overflow: hidden;
}

.card {
  background: #fffef2;
  position: relative;
}

.recipe_card {
  height: 80%;
  width: 90%;
  margin: 5%;
  overflow: hidden;
}

.recipe_list {
  height: 100%;
  width: 60%;
  margin-left: 20%;
}

.title {
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  border-bottom: thin solid black;
}

.col_header {
  font-size: 150%;
  font-style: italic;
}

/* Styles for Recipe show*/

.ingredients_pane {
  position: relative;
  height: 100%;
  width: 30%;
  float: left;
}

.directions_pane {
  position: relative;
  height: 100%;
  width: 70%;
  float: right;
}

.ingredients_header {
  padding-left: 10px;
}

.ingredient_name {
  display: inline-block;
  padding-left: 10px;
  position: relative;
}

.ingredient_measure {
  padding-right: 30%;
  display: inline-block;
  position: relative;
}

.directions {
  padding-right: 20px;
}

/* Styles for Recipe List */
